@model IEnumerable<OdeToFood.Data.Models.Restaurant>

@{
    ViewBag.Title = "List Of Restaurants";
}

@*This index view is created of template type List for restaurant model class. These are scafolded data below which we will work on*@

<h2>List of Restaurants</h2>

<p>
    @Html.ActionLink("Create New Restaurant", "Create")
    @*<button type="button" class="btn btn-secondary" formmethod="post" name="="Create>Create Restaurant</button>*@
</p>

@foreach (var item in Model)
{
    @Html.Partial("_RestaurantSummary", item)
}

@*<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }

</table>*@

@section footer{
    <div>This is custom footer</div>
}